* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(city.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#time {
    font-size: 6.5em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, .1);
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 435px) {
    #time {
        font-size: 5em;
    }
}

@media only screen and (max-width: 376px) {
    #time {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 321px) {
    #time {
        font-size: 4em;
    }
}